// Variables of colours

$colorone: whitesmoke;
$colortwo: #B9A581;
$colorthree: #CCB58E;
$colorfour: #D3BE9D;
$colourfive: #DFD1B9;
$textcolour: black;

// Variable link to the font family

$titlefont: Cyrene;
$textfont: Quicksand;

